<div class="container">
    <form ng-submit="addStudent()">
        <div class="form-group">
            <label>Firstname</label>
            <input type="text" class="form-control" placeholder="Student firstname" ng-model="newUser.firstname">
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" placeholder="Student lastname" ng-model="newUser.lastname">
        </div>
        <div class="form-group">
            <label>pseudo</label>
            <input type="text" class="form-control" placeholder="Student City" ng-model="newUser.pseudo">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Student Email" ng-model="newUser.email">
        </div>
        <button class="btn btn-default" type="submit">Create</button>
    </form>
</div>
