.logos {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

.logo {
    width: 100px;
    height: 100px;
    opacity: 1;
}

.logoVisible {
    width: 100px;
    height: 100px;
    opacity: 0.3;
}

#date {
    color: #f9a02e
}

#title {
    font-weight: bold;
    color: #1fa597
}

#calendar {
    text-align: center;
    list-style-type: none;
    margin-top: 30px;
    font-size: 15px;
}

#bloc {
    margin-top: 60px;
}

#bloc2 {
    margin-top: 50px;
}
#logo {
    margin-top: 80px;
}

#dropdown {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #1fa597
}

#matchday {
    text-align: center;
    list-style-type: none;
    margin-top: 30px;
    font-size: 15px;
}

.nav.nav-tabs>li.active>a, .nav.nav-tabs>li.active>a:focus {
    color: white;
    background-color: #1fa597;
}

.nav-tabs>li.active>a:hover {
    color: white;
}
.nav.nav-tabs>li>a {
  color: #1fa597;
}

.dropdown-menu>li>a {
  color: #1fa597
}

.dropdown-menu>li.active>a, .dropdown-menu>li.active>a:focus {
  color: #1fa597
}
