.logos {

    column-count: 5;
    column-gap: 5px;
}

.logo {

   width:auto;
   height:80px;
   opacity: 1;

}

.logoVisible {

   width:auto;
   height:80px;
   opacity: 0.3;
}
.footer{
  pad
  width:20px;
  height:20px;
}
  #footer{
    background-color: white;
    bottom: 0;
  	position: fixed;
  	width: 1124px;

}
.rectangle{
  margin-left: auto;
  margin-right: auto;
  width:800px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  border-top: solid 1px;
  border-color:#D2D1D1;
  border-bottom: solid 1px;
  border-color:#D2D1D1;
  column-count:11;
}

#date {
    color: #f9a02e
}

#title {
    font-weight: bold;
    color: #1fa597
}

#calendar {
    text-align: center;
    list-style-type: none;
    margin-top: 30px;
    font-size: 15px;
}

#bloc {
    margin-top: 60px;
}

#bloc2 {
    margin-top: 50px;
}
#logo {
    margin-top: 80px;
}

#dropdown {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: #1fa597
}

#matchday {
    text-align: center;
    list-style-type: none;
    margin-top: 30px;
    font-size: 15px;
}

.nav.nav-tabs>li.active>a, .nav.nav-tabs>li.active>a:focus {
    color: white;
    background-color: #1fa597;
}

.nav-tabs>li.active>a:hover {
    color: white;
}
.nav.nav-tabs>li>a {
  color: #1fa597;
}

.dropdown-menu>li>a {
  color: #1fa597
}

.dropdown-menu>li.active>a, .dropdown-menu>li.active>a:focus {
  color: #1fa597
}
