<div id='competition'>

    <ul class="nav nav-pills">

        <li ui-sref-active="active"><a ui-sref="anon.competition">Ligue 1</a></li>

        <li ui-sref-active="active"><a ui-sref="anon.ligue-2">Ligue 2</a></li>

        <li ui-sref-active="active"><a ui-sref="anon.champions-league">Ligue des champions</a></li>

    </ul>

    <div ng-controller="competitionController">
      <form name="myForm">
        <label for="repeatSelect"> Journée : </label>
        <select name="repeatSelect" id="repeatSelect" ng-model="currentMatchday">
          <option ng-repeat="day in competition.numberOfMatchdays" ng-value="day">{{day}}</option>
        </select>
      </form>
    </div>

    <ul>
        <li ng-repeat='match in matchsDay'>
            {{match.homeTeamName}} {{match.result.goalsHomeTeam}} {{' - '}} {{match.result.goalsAwayTeam}} {{match.awayTeamName}}
        </li>
    </ul>

    </div>
