<div id='competition'>

  <ul class="nav nav-pills">

      <li ui-sref-active="active"><a ui-sref="anon.competition">Ligue 1</a></li>

      <li ui-sref-active="active"><a ui-sref="anon.ligue-2">Ligue 2</a></li>

      <li ui-sref-active="active"><a ui-sref="anon.champions-league">Ligue des champions</a></li>



  </ul>

    <ul>
        <li ng-repeat='match in schedule'>
            {{match.homeTeamName}} {{match.result.goalsHomeTeam}} {{' - '}} {{match.result.goalsAwayTeam}} {{match.awayTeamName}}
        </li>
    </ul>
</div>
