<h1>My Team Programme</h1>

<div id='calendar'>
    <ul>
        <li>
            {{' Journée '}} {{schedule[0].matchday}} {{schedule[0].date | date : 'dd/MM/yyyy'}} {{schedule[0].homeTeamName}} {{' - '}} {{schedule[0].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[1].matchday}} {{schedule[1].date | date : 'dd/MM/yyyy'}} {{schedule[1].homeTeamName}} {{' - '}} {{schedule[1].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[2].matchday}} {{schedule[2].date | date : 'dd/MM/yyyy'}} {{schedule[2].homeTeamName}} {{' - '}} {{schedule[2].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[3].matchday}} {{schedule[3].date | date : 'dd/MM/yyyy'}} {{schedule[3].homeTeamName}} {{' - '}} {{schedule[3].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[4].matchday}} {{schedule[4].date | date : 'dd/MM/yyyy'}} {{schedule[4].homeTeamName}} {{' - '}} {{schedule[4].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[5].matchday}} {{schedule[5].date | date : 'dd/MM/yyyy'}} {{schedule[5].homeTeamName}} {{' - '}} {{schedule[5].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[6].matchday}} {{schedule[6].date | date : 'dd/MM/yyyy'}} {{schedule[6].homeTeamName}} {{' - '}} {{schedule[6].awayTeamName}}
        </li>
        <li>
            {{' Journée '}} {{schedule[7].matchday}} {{schedule[7].date | date : 'dd/MM/yyyy'}} {{schedule[7].homeTeamName}} {{' - '}} {{schedule[7].awayTeamName}}
        </li>

    </ul>

</div>
