
    <ul class="nav nav-tabs">
      <li ui-sref-active="active"><a ui-sref="anon.home">Mon calendrier</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="anon.competition">Compétitions
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ui-sref-active="active"><a ui-sref="anon.competition">Ligue 1</a></li>
          <li><a href="#">Ligue 2</a></li>
          <li><a href="#">Ligue des Champions</a></li>
        </ul>
      </li>
      <li ui-sref-active="active"><a ui-sref="anon.myTeam">Mes équipes</a></li>
    </ul>
