<div id='calendar'>
    <ul id="bloc">
        <li ng-repeat="match in calendar | orderBy : 'matchday' "id="calendar">
            <div id="title">{{match.date | date : 'dd/MM/yyyy'}}</div>
            <div id="date">{{' Journée '}}{{match.matchday}} </div> <img class='teamLogo' height="40px" src="{{match.logoHomeTeam}}">   <span class="teamName">{{match.homeTeamName}} {{' - '}} {{match.awayTeamName}}</span>    <img class='teamLogo' height="40px" src="{{match.logoAwayTeam}}">
        </li>
    </ul>
</div>
