<div id='competition'>

    <div>
      <form name="myForm" id="dropdown">
        <label for="repeatSelect"> Journée : </label>
        <select ng-change="update()"name="repeatSelect" id="repeatSelect" ng-model="currentMatchday">
          <option ng-repeat="day in competition.numberOfMatchdays" ng-value="day">{{day}}</option>
        </select>
      </form>
    </div>

    <ul id="bloc2">
        <li ng-repeat='match in matchsDay' id="matchday">
          <div id="date">{{match.date | date : 'dd/MM/yyyy'}}</div>
          <img class='teamLogo' height="40px" src="{{match.logoHomeTeam}}">   <span class="teamName">{{match.homeTeamName}} {{match.result.goalsHomeTeam}} {{' - '}} {{match.result.goalsAwayTeam}} {{match.awayTeamName}}</span>    <img class='teamLogo' height="40px" src="{{match.logoAwayTeam}}">
        </li>
    </ul>
    </div>
