

    <ul class="nav nav-tabs">
      <li ui-sref-active="active"><a ui-sref="user.calendar">calendrier</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="user.competition">Compétitions
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ui-sref-active="active"><a ui-sref="user.competition">Ligue 1</a></li>
          <li><a ui-sref="user.ldc">Ligue des Champions</a></li>
        </ul>
      </li>
      <li ui-sref-active="active"><a ui-sref="user.myTeam">Mes équipes</a></li>
    </ul>
